<footer id="footer" class="footer">
    <div class="copyright">
        <span>© <%= config.author %> | Powered by <a href="https://hexo.io" target="_blank">Hexo</a> & <a href="https://github.com/Siricee/hexo-theme-Chic" target="_blank">Chic</a></span>
        <span><a href="http://beian.miit.gov.cn/state/outPortal/loginPortal.action;jsessionid=E0sVJ6DoJZJ37CrqUR0ydHDjM00al250Ys_91x5LT-_ezqzM4bKD!1935156451">京ICP备19048475号</a> | <a href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=11011702000392">京公网安备11011702000392号 <img src="/image/gongan.png" /></a></span>
    </div>
</footer>
